@page "/about"

<style>
    body {
        background-color: #1c1c1c;
    }

    h1 {
        text-align: left;
        color: #efefef;
        font-family: 'Lucida Sans Unicode';
    }

    .profile {
        width: 40%;
        float: left;
        margin-left: 9%;
        border-style: solid;
        border-color: black;
    }

    .description {
        width: 40%;
        float: right;
        margin-right: 9%;
        border-style: solid;
        border-color: black;
        padding: 1%;
    }

    h2 {
        text-align: center;
        color: #15546a;
        font-family: 'Lucida Sans Unicode';
        font-size: 1em;
    }

    p {
        text-align: center;
        color: #efefef;
        font-family: Georgia;
        font-size: 1.2em;
    }
</style>

<h1>About Me</h1>
<br />
<div class="profile">
    <img src="images/IMG952177.jpg" alt="Profile Photo" style="width:100%" />
</div>
<div class="description">
    <h2>Sappy Bullshit</h2>
    <p>
        Ever since I wrote my very first line of code, it has been apparent
        that the goal of becoming an adept programmer is a worthwhile pursuit.
    </p>
</div>

@code {

}
